@model Glamping2.Models.Persona

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Persona</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApePersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApePersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNaci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNaci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPersona" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
